#logScreenCard{
    
    box-shadow:1px 1px 10px rgba(0,0,0,.2);
    color:white;
    display:flex;
    flex-direction:column;
    aspect-ratio:355/570;

}
.logScreenAni{
    animation:logScreenIn 2s forwards;
}
@keyframes logScreenIn {
    0% {

    }
    100% {
        opacity:1; 
    }
}
.downAni{
    animation: downAndIn 1s forwards; 
}
@keyframes downAndIn{
    0%{}
    100%{
        opacity:1;
        transform:translateY(10em);
        transform:translateX(5em);
    }
}
.largeSilh{


    font-size:3em;
   
}
.logInput{
    width:55em;
    height:35em;
    margin-top:1em; 

    border:none; 
    padding:1em; 
    border-radius:3em; 
    color:white;

    background:rgba(157,0,255,.4);
    backdrop-filter:blur(200px); 
    box-shadow:1px 1px 10px rgba(157, 0, 255, 0.2);

}
.logInput::placeholder{
    color:rgb(166, 166, 166);
}
.silhInsideLog{
    display:flex;
    justify-content:center;
}
.statFlex{
    display:flex;
    flex-direction:column; 
}
.stat-name{
    font-size:2em; 
    color:white;
    text-shadow:1px 1px 10px rgba(0,0,0,.2);
    margin-bottom:.3em;
    
}
.stat{
    font-size:3em;
    font-weight:900;
    color:rgb(255, 0, 255);
    text-shadow:1px 1px 30px rgb(255, 0, 255);
    box-shadow:1px 1px 10px rgba(0,0,0,.2);
    padding:.2em;
    border-radius:.4em;
    background:rgba(0,0,0,.4);
}

.shakeStat{
    animation:shakeStat .2s infinite;
}

@keyframes shakeStat{
    0%{
        
    }
    25%{
        transform:rotate(5deg);
    }
    50%{
        transform:rotate(-5deg); 
    }
    75%{
        transform:rotate(5deg);
    }
    100%{
        transform:rotate(0); 
    }
}
.stat-gold{
    font-size:3em;
    font-weight:900;
    color:gold; 
    text-shadow:1px 1px 30px gold;
    box-shadow:1px 1px 10px rgba(0,0,0,.2);
    padding:.2em;
    border-radius:.4em;
    background:rgba(0,0,0,.4);
    animation: shine 1s infinite; 
}
.initAni{
    position:fixed;
    left:40%;
    top:20%;
    right:50%;
    transform:scale(1.2); 
}
.initShake{
    animation:shake .5s infinite; 
}
@keyframes shake {
  0%   { transform: rotate(0); }
  15%  { transform: rotate(8deg); }
  30%  { transform: rotate(-8deg); }
  45%  { transform: rotate(6deg); }
  60%  { transform: rotate(-6deg); }
  75%  { transform: rotate(3deg); }
  90%  { transform: rotate(-3deg); }
  100% { transform: rotate(0); }
}


@keyframes shine{
    0% {
        text-shadow:1px 1px 30px gold;
    }
    65% {

        text-shadow:1px 1px 10px gold;
    }

    100%{text-shadow:1px 1px 30px gold;}
}
#logScreen{
    display:flex;
    gap:2em;
    flex-direction:column;
    justify-content:center;
}